body {
    font-family: 'Lato', sans-serif;
    color: #676858;
    font-weight: 300;
}

.text-muted{
    color: #BCBBBB;
}

.text-thin{
    font-weight: 100;
}

.title-super{
    font-size: 60px;
}


footer
{
    margin-top:20px;
    position: absoulte;
    height: 60px;
    bottom: 0;    
    width: 100%;
    background-color: #232323;
    color :white;    
    font-family: 'Lato', sans-serif;
}

footer > .container > p 
{
    margin: 20px 0;
}

.project-thumbnail
{
    transition: background-color 0.5s ease;
    background-color :#ffffff;
}

.project-thumbnail:hover
{    

  background:#7f7f7f;
  background:rgba(255,255,255,0.5);
  opacity: 0.4;
  filter: alpha(opacity=40); 
}

@media only screen and (min-device-width : 320px) and (max-device-width : 700px) {
    
    header
    {
        position: absoulte;
        bottom: 0;    
        width: 100%;        
        background-image: url("../images/Portfolio_Background-large.jpg");
        background-repeat: no-repeat;
        background-size: cover; 
        min-height: calc("100vh + 20 px");
        color : white;
        padding-top: 50px; 
        margin-bottom : 50px;    
    }
   
}


@media only screen and (min-device-width : 460px)  and (max-device-width : 775px) {

    header
    {
        position: absoulte;
        bottom: 0;    
        width: 100%;        
        background-image: url("../images/Portfolio_Background-large.jpg");
        background-repeat: no-repeat;
        background-size: cover; 
        min-height: calc("100vh + 20 px");
        color : white;
        margin-bottom : 50px;    
    }

   
}


@media only screen and (min-device-width : 460px)  and (max-device-width : 775px) and (orientation : landscape) {

    header
    {
        position: absoulte;
        bottom: 0;    
        width: 100%;        
        background-image: url("../images/Portfolio_Background-large.jpg");
        background-repeat: no-repeat;
        background-size: cover; 
        min-height: 120px;
        color : white;
        margin-bottom : 50px;    
    }

   
}




@media only screen and (min-device-width : 768px)  and (max-device-width : 1024px) and (orientation : landscape)  {


    header
    {
        position: absoulte;
        bottom: 0;    
        width: 100%;        
        background-image: url("../images/Portfolio_Background-large.jpg");
        background-repeat: no-repeat;
        background-size: cover; 
        height: calc("100vh + 20 px");
        color : white;
        padding-top: 50px; 
        margin-bottom : 50px;    
    }   

}


@media only screen and (max-device-width : 1199px) and (orientation : landscape)  {

    header
    {
        position: absoulte;
        bottom: 0;    
        width: 100%;        
        background-image: url("../images/Portfolio_Background-large.jpg");
        background-repeat: no-repeat;
        background-size: cover; 
        
        min-height: 100vh;
        color : white;  
    }   
    
    .title-super{
        font-size: 40px;
    }


}

@media only screen and (min-device-width : 1199px)  {

    header
    {
        position: absoulte;
        bottom: 0;    
        width: 100%;        
        background-image: url("../images/Portfolio_Background-large.jpg");
        background-repeat: no-repeat;
        background-size: cover; 
        
        min-height: 100vh;
        color : white;  
    }   
    
    .title-super{
        font-size: 40px;
    }
    
    .title-welcome{
        padding-top : 100px;
        font-size : 60px;
    }

    .title-showcase
    {
        font-size : 30px;
    }



}


header
{
    position: absoulte;
    bottom: 0;    
    width: 100%;        
    background-image: url("../images/Portfolio_Background-large.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    color : white;
    padding-top: 50px; 
    margin-bottom : 50px;    
}


.accolade
{
    margin-left: 10px;
    margin-right: 10px;     
    display: inline-block;
}

.navbar-default {
  background-color: #7f7f7f;
  border-color: #595959;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e6e6e6;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e6e6e6;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #7f7f7f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #e6e6e6;
  background-color: #595959;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #595959;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #e6e6e6;
  background-color: #595959;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e6e6e6;
  background-color: #595959;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #e6e6e6;
  background-color: #595959;
}
.navbar-default .navbar-toggle {
  border-color: #595959;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #595959;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #e6e6e6;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e6e6e6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e6e6e6;
    background-color: #595959;
  }
}