@import "bootstrap";
@import "bootstrap/theme";
$mainBackground: #212121;
$mainForeColor: #fff;
$themeColor: #eceff1;
$backgroundAlternative: #424242;

body {
    background: $mainBackground;
    color: #ffffff;
}

header {
    
    background-color: $backgroundAlternative;
    padding: 20px 0px;
    margin-bottom: 40px;
    h2,
    h3 {
        margin: 0px;
    }
}

footer {
    position: absoulte;
    bottom: 0;
    width: 100%;    
    color: white;
    font-weight: bold;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background: $backgroundAlternative;
}

.modal-content {
    background: $mainBackground;
    color: #ffffff;
    border-radius: 0px;
}
.modal-header{
    background: $backgroundAlternative;
}
.modal-footer{
    background: $backgroundAlternative;
}

// Box content with content detials
.content {
    box-shadow: 0.5px 0.5px 2px 2px #888888;
    margin-bottom: 40px;
}

// style for picture
.ul-no-style {
    padding: 0px;
    padding-left: 25px;
    li {
        padding-bottom: 10px;
        list-style: none;
        font-size: 15px;
    }
    .li-less-space {
        padding-bottom: 0px;
    }
}

// Main Item highlighted in list
.li-main-item {
    font-weight: bold;
}

// Technologies section
.technologies {
    margin-top: 60px;
}

// Project technology
.technology {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.thumbnail-img {
    height: 225px;
    width: 225px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.thumbnail {
    border-radius: 0px;
    margin-bottom: 40px;
    background: #424242;
    border: 0px;
    padding-top: 20px;    
    opacity:1;
    transition-duration: 1s;
    transition-property: opacity;
}

.thumbnail:hover{
    opacity:0.5;
}

#contact{
    margin-left: 30px;
    margin-bottom: 15px;
}
a,
button {
    border-radius: 0px;
}

.contact-details{
    margin-left:10px;
    padding: 10px;
}

a {
    color: #ffffff;    
}

a:hover {
    text-decoration: none;
    color: #212121;
}

.btn{
    border-radius: 0px;
}