@import "bootstrap";
@import "bootstrap/theme";

$mainBackground: #000 ;
$mainForeColor: #fff;

$mainColor: #236b8e;

// Box content with content detials
.content{
    box-shadow: 0.5px 0.5px 2px 2px #888888;
    margin-bottom: 40px;
}

// style for picture
.ul-no-style{

    padding: 0px;
    padding-left: 25px; 

    li{
        padding-bottom: 10px;
        list-style: none;
        font-size: 15px;
    }

    .li-less-space{
        padding-bottom: 0px;
    }
}

// Picture size
.profile-picture{
    width: 125px;
    height: 125px;
}

// Main Item highlighted in list
.li-main-item{
    font-weight: bold;
}

// Technologies section
.technologies{
    margin-top: 60px;
}

// Project technology
.technology{
    margin-left: 10px;
    margin-right: 10px;     
    display: inline-block;
}

// Thumbnail picture size
.thumbnail-size{
    height: 225px;
    width: 225px;
}

// Main Heading color
.heading-color{
    color: $mainColor;
}

// Top navigation bar
.navbar {
    background: $mainColor;
    color: #ffffff;
    border: 0px;
    border-radius: 0px;
    
    .navbar-brand{
        color: #ffffff;
    }
}

// Top navigation flat
@media (min-width: 768px){
    .navbar {
        border-radius: 0px; 
    }
}

// Date Text
.date-text{
    color: #888888;
    font-style: italic;
}

// Projects container
.projects{
    box-shadow: 0.5px 0.5px 2px 2px #888888;
    margin-bottom: 40px;
    margin-left: 15px; 
}

// Details without profile picture
.detail-pane{
    margin-left: 20px;
}
