@import "bootstrap";
@import "bootstrap/theme";

$mainBackground: #000 ;
$mainForeColor: #fff;

$mainColor: #236b8e;

// Box content with content detials
.content{
    box-shadow: 0.5px 0.5px 2px 2px #888888;
    margin-bottom: 40px;
}

// style for picture
.ul-no-style{

    padding: 0px;
    padding-left: 25px; 

    li{
        padding-bottom: 10px;
        list-style: none;
        font-size: 15px;
    }

    .li-less-space{
        padding-bottom: 0px;
    }
}

// Picture size
.profile-picture{
    width: 85px;
    height: 85px;
}

// Main Item highlighted in list
.li-main-item{
    font-weight: bold;
}

// Technologies section
.technologies{
    margin-top: 60px;
}

// Project technology
.technology{
    margin-left: 10px;
    margin-right: 10px;     
    display: inline-block;
}

.test{
    height: 200px;
    width: 200px;
}

.heading-color{
    color: $mainColor;
}

.navbar {
    background: $mainColor;
    color: #ffffff;
    border: 0px;
    border-radius: 0px;
    

    .navbar-brand{
        color: #ffffff;
    }
}

@media (min-width: 768px){
    .navbar {
        border-radius: 0px; 
    }
}
